{% extends "casos/base.html" %}
{% load static %}
{% block content %}
    <div class="col text-center"><h1>SUR-Gen</h1></div>
    </br>
    <div class="col-sm text-lg-end">
      <a href="{% url 'casos-perfil' %}"> <button type="button" class="btn btn-secondary">Volver</button> </a>
  </div>
  </br>
    <h2>Causa: {{caso}}
    </h2> 
    </br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="hist-tab" data-bs-toggle="tab" data-bs-target="#hist" type="button" role="tab" aria-controls="hist" aria-selected="true">Historico</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="concurrencias-tab" data-bs-toggle="tab" data-bs-target="#concurrencias" type="button" role="tab" aria-controls="concurrencias" aria-selected="true">Concurrencias</button>
          </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="recursos-tab" data-bs-toggle="tab" data-bs-target="#recursos" type="button" role="tab" aria-controls="recursos" aria-selected="false">Recursos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="agresor-tab" data-bs-toggle="tab" data-bs-target="#agresor" type="button" role="tab" aria-controls="agresor" aria-selected="false">Datos del Agresor</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- Historico-->
        <div class="tab-pane fade show active" id="hist" role="tabpanel" aria-labelledby="hist-tab">
            <br>
            <ul class="timeline">
                {% for evento in historial %} 
                    <li class="timeline-item mb-5">
                        <h5>{{evento.nombre}}</h5>
                        <p class="text-muted mb-2 fw-bold">{{evento.fecha}}</p>
                        <p>{{evento.descripcion}}</p>
                    </li>
                {% empty %}
                    <div class="alert alert-secondary" role="alert">
                        No hay tramites asociados a este caso.
                    </div>
                    <br>
                {% endfor %}
            </ul>
            <br>
            <div class="col-sm-12 text-lg-end">
                <a href="{% url 'casos-documentos' caso.id -1%}"> <button type="button" class="btn btn-primary">Ver Documentos</button> </a>
            </div>
            <br>
        </div>
        <!-- Concurrencias-->
        <div class="tab-pane fade" id="concurrencias" role="tabpanel" aria-labelledby="concurrencias-tab">
          {% for concurrencia in concurrencias %}
            <div class="card mb-4">
                <div class = "card-body">
                    <h5>{{concurrencia.fecha}}</h5>   
                    <div class="row-sm-9">
                        {{concurrencia.lugar_concurrido}}
                    </div>  
                    <div>{{concurrencia.descripcion}}</div>  
                </div>           
            </div>
            {% empty %}
            <div class="alert alert-secondary" role="alert">
                No hay concurrencias registradas asociadas a este caso.
            </div>
            <br>
          {% endfor %}
          {% if concurrencias %}
            <div class="col-md-8">
                <div class="col-sm-12 text-lg">
                    <a href=" {% url 'casos-descargar_pdf_concurrencias' caso.id%}"> <button type="button" class="btn btn-primary">Descargar</button> </a>
                </div>
                <br>
            </div>
          {%endif%}
        </div>
        <!-- Recursos-->
        {% include "./recursos.html" %}
        <!-- Agresor-->
        <div class="tab-pane fade" id="agresor" role="tabpanel" aria-labelledby="agresor-tab">
            <br>
            {%for agresor in agresores%}
            <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <h4 class="mb-0"> {{agresor}}</h4>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Relacion con la victima</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{caso.relacion}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Hijos en comun</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{caso.hijos_en_comun}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">DNI</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{agresor.documento}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Domicilio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{agresor.domicilio}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Fecha de nacimiento</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{agresor.fecha_nacimiento}}
                    </div>
                  </div>
                  <hr>
                </div>
            </div> 
            {%endfor%}
        </div>
    </div>
    
{% endblock content %}        