{% extends "casos/base.html" %}
{% block content %}
<div><span class="text_1">Bienvenido, </span></div>
                    
<div><span class="text_1">Operador </span><span class="text_2">SUR-Gen</span></div>
</br>

    <!--Barra de busqueda-->
    
    <form class="d-flex" method="POST" action="{% url 'casos-operador_busqueda' %}" >
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="searched" placeholder="Buscar usuario"> 
        <button class="btn btn-outline-secondary" type="submit"> Buscar </button>
    </form>
    </br>
    {% if victimas %}
    
    <div class="list-group"> 
        {% for victima in victimas %} 
        <li class="list-group-item"> 
            <div class="row align-items-center"> 
                <div class="col-sm"> 
                    <a href="{% url 'casos-operador_resultado' victima.id %}" class="list-group-item list-group-item-action"> 
                        <strong>{{victima.documento}}</strong>: {{victima}} 
                    </a> 
                </div> 
            </div> 
        </li> 
        {% endfor %}
    </div>
        
    {% endif %}

{% endblock content %}