{% load static %}
<div class="tab-pane fade" id="recursos" role="tabpanel" aria-labelledby="recursos-tab">
    <div class="container">
        <div class="row">
            <div class="col-sm"> 
                <div><span class="text_2">En caso de emergencia llamar al 911</span></div>
            </div>
            <div class="col-sm pd_left">
                <div> Fiscalía </div> 
                <div>Calle 77 358</div> 
                <div>telefono: 2262424608</div>
            </br>
                <div>Comisaría de la mujer </div>
                <div>  Calle 24 4242 </div>
                <div> telefono: 2262430242</div>
            </br>
                <div>Centro de asistencia a la víctima</div>
                <div>Calle 77 358 </div>
                <div>telefono 2262424608</div>
            </div>
        </div>
    </div>




</div>